body {
    background-color: #222;
    color: white;
}

.avatar-display {
    width: 32px;
    height: 32px;
    display: inline-block;
    background-image: url("https://omniaregna.com/avatars.png");
    background-repeat: no-repeat;
}

#inventory {
    display: inline-flex;
}

.inventoryItem {
    border: 2px solid white;
    padding: 2px;
}

.inventoryItem .icon {
    width: 32px;
    height: 32px;
    display: inline-block;
    background-image: url("https://omniaregna.com/items.png");
    background-repeat: no-repeat;
    position: relative;
}

.inventoryItem .itemName {
    position: relative;
    bottom: -20px;
    left: 0px;
    display: none;
    margin: 0;
}
    
.inventoryItem:hover .itemName {
    visibility: visible;
    bottom: -40px;
}

.itemCount {
    font-size: 75%;
    position: absolute;
    bottom: -3px;
    right: -3px;
    background: rgba(0,0,0,.61);
    border-radius: 4px;
    padding: 1px;
    line-height: 1;
}

.noItem {
    width: 32px;
    height: 32px;
    display: inline-block;
    background-image: url("NoItem.png");
    background-repeat: no-repeat;
}

#itemInfo {
    position: absolute;
    left: -1000px;
    display: none;
    margin-top: -20px;
}

#itemInfo.activeList {
    left: 0;
    display: inline;
}

.itemInfoLine > p:nth-child(2) {
    position: relative;
    left: 15px;
}

.itemInfoLine > p {
    margin: 0;
    margin-top: 4px;
}